In [41]:
import pandas as pd
import numpy as np

In [42]:
data = pd.read_csv('/Users/jiaming/Desktop/Lab2/datas/data_cb.csv')

In [43]:
data

,age,cigsPerDay,totChol,sysBP,diaBP,BMI,heartRate,glucose,male_0,male_1,...,currentSmoker_1,BPMeds_0.0,BPMeds_1.0,prevalentStroke_0,prevalentStroke_1,prevalentHyp_0,prevalentHyp_1,diabetes_0,diabetes_1,target
0,39,0.0,195.0,106.0,70.0,26.97,80.0,77.000000,0,1,...,0,1,0,1,0,1,0,1,0,0
1,46,0.0,250.0,121.0,81.0,28.73,95.0,76.000000,1,0,...,0,1,0,1,0,1,0,1,0,0
2,48,20.0,245.0,127.5,80.0,25.34,75.0,70.000000,0,1,...,1,1,0,1,0,1,0,1,0,0
3,61,30.0,225.0,150.0,95.0,28.58,65.0,103.000000,1,0,...,1,1,0,1,0,0,1,1,0,1
4,46,23.0,285.0,130.0,84.0,23.10,85.0,85.000000,1,0,...,1,1,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,50,1.0,313.0,179.0,92.0,25.97,66.0,86.000000,0,1,...,1,1,0,1,0,0,1,1,0,1
4234,51,43.0,207.0,126.5,80.0,19.71,65.0,68.000000,0,1,...,1,1,0,1,0,1,0,1,0,0
4235,48,20.0,248.0,131.0,72.0,22.00,84.0,86.000000,1,0,...,1,1,0,1,0,1,0,1,0,0
4236,44,15.0,210.0,126.5,87.0,19.16,86.0,75.878924,1,0,...,1,1,0,1,0,1,0,1,0,0
4237,52,0.0,269.0,133.5,83.0,21.47,80.0,107.000000,1,0,...,0,1,0,1,0,1,0,1,0,0

In [44]:
# analysize whether the model is severly imbalanced
target = data['target']
target.value_counts() # the model is severly imbalanced

0    3594
1     644
Name: target, dtype: int64

In [45]:
neg = data[data.iloc[:, -1] == 0]
neg = neg.iloc[:, :-1]
neg = neg.sample(n=644, random_state=42)

pos = data[data.iloc[:, -1] == 1]
pos = pos.iloc[:, :-1]

In [46]:
neg.to_csv('/Users/jiaming/Desktop/Lab2/datas/neg.csv', index=False)
pos.to_csv('/Users/jiaming/Desktop/Lab2/datas/pos.csv', index=False)